@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap');

body {
	font-family: 'Zen Kaku Gothic New' !important;
}

.App {
  padding-left: 130px;
  padding-right: 130px;
  padding-top: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom styles */
.fa-times {
	margin-left: 5px;
}

.fa-search {
	margin-left: 10px;
	font-size: 20px;
}

.fa-ellipsis-h{
	font-size: 14px !important;
}

.three-dots {
	width: 40px !important;
}

.navbar-left-space span {
	color: #8e9295 !important;
}

.nav-pipe-symbol{
	align-self: center !important;
	color: #8e9295 !important;
	margin-right: 7px !important;
}

.right-nav {
	margin-right: 20px !important;
}

.button-left{
	padding: 5px !important;
	margin: 0px !important;
	width: 40px !important;
	color: #8e9295 !important;
}

.button-right {
	padding: 5px !important;
	margin: 0px !important;
	width: 40px !important;
	color: #8e9295 !important;
}

.btn-custom {
	background: transparent;
	padding: 5px !important;
	width: 60px !important;
	margin: 5px !important;
	border: 1px solid #8e9295 !important;
	border-radius: 5px !important;
	font-family: 'Zen Kaku Gothic New' !important;
	color: #8e9295 !important;
}

button {
	background: transparent;
	padding: 5px !important;
	width: 60px !important;
	margin: 5px !important;
	border: 1px solid #8e9295 !important;
	border-radius: 5px !important;
	font-family: 'Zen Kaku Gothic New' !important;
}

.table-scroll {
	position:relative;
	margin:auto;
	overflow:hidden;
	border-left:1px solid #8e9295;
	border-right:1px solid #8e9295;
	border-top:1px solid #8e9295;
}
.table-wrap {
	width:100%;
	overflow: hidden;
}
.table-scroll table {
	width:100%;
	margin:auto;
	border-collapse:separate;
	border-spacing:0;
}
.table-scroll th, .table-scroll td {
	padding-left: 14px;
    padding-right: 14px;
    padding-top: 14px;
	border-bottom:1px solid #8e9295;
	white-space:nowrap;
	vertical-align:top;
	text-align: left;
	color: #8e9295;
}

.table-scroll thead, .table-scroll tfoot {
	background: white;
}
.clone {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}

.clone th, .clone td {
	visibility:hidden;
}
.clone td, .clone th {
	border-color:transparent;
}
.clone tbody th {
	visibility:visible;
}
.clone .fixed-side {
	border-bottom:1px solid #8e9295;
	border-right: 1px solid #8e9295;
	background-color: white;
	visibility:visible;
}
.clone thead, .clone tfoot{
	background:transparent;
}

.table-top{
	width: 100%;
}

.navbar-table{
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
	border: 1px solid #8e9295 !important;
	border-bottom: none !important;
	padding: 5px !important;
}

.status {
	width: 85px !important;
}

.status i {
	margin-left: 5px !important;
}

.table-response{
	display: flex !important;
	justify-content: space-between !important;
	align-items: center !important;
}

.table-button{
	background: transparent !important;
	color: #8e9295 !important;
	font-size: 20px !important;
	padding: 0px !important;
	margin: 0px !important;
	align-self: center !;
	border: none !important;
}

.navbar-left-space{
	padding-left: 10px !important;
}

input[type='checkbox'] {
    width:20px;
    height:20px;
    background:white;
    border:1px solid #8e9295;
	cursor: pointer;
	pointer-events: auto;
}

.ml {
	margin-left: 10px;
}

.footer {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	color: #8e9295 !important;
	border-bottom: 1px solid #8e9295 !important;
	border-left: 1px solid #8e9295 !important;
	border-right: 1px solid #8e9295 !important;
	margin-bottom: 20px !important;
}

.footer-button {
	color: #8e9295 !important;
	width: 30px !important;
}

.footer .footer-pagination{
	border: 1px solid #8e9295 !important;
	border-radius: 0px !important;
	width: 40px !important;
	color: #8e9295 !important;
	font-weight: 800;
}

.dropdown-color{
	color: #8e9295 !important;
}

@media screen and (max-width: 576px){
	.table-scroll th, .table-scroll td {
		white-space: pre-line;
	}
	.table-response{
		display: block;
	}

	.App {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}
}

@media screen and (min-width: 576px){
	.App {
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 30px;
	}

	.table-scroll th, .table-scroll td {
		padding-left: 10px;
		padding-right: 0px;
		padding-top: 0px;
	}
}

@media screen and (min-width: 992px){
	.App {
		padding-left: 160px;
		padding-right: 130px;
		padding-top: 50px;
	}
	.table-scroll th, .table-scroll td {
		padding-left: 14px;
		padding-right: 14px;
		padding-top: 14px;
	}
}